AIRFLOW_UID=50000

# Data paths - place your dataset files in a directory accessible to the Airflow container
# Created mount is ./data:/opt/airflow/data
OCT_DATA_PATH=/opt/airflow/data/your_file.csv
NOV_DATA_PATH=/opt/airflow/data/your_file.csv

# You can check them using spark-master and airflow-worker
JAVA_HOME_SPARK=/opt/java/openjdk
JAVA_HOME_AIRFLOW=/usr/lib/jvm/java-17-openjdk-amd64
SPARK_HOME=/opt/spark